*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: rgb(211, 211, 211);
}

.sidebar{
    background-color: rgb(95, 95, 177);
    width: 25%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;  
    color: whitesmoke;
}

h1{
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-left: 30px;
    font-size: 1.8rem;
}

.avatar-small{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.greeting{
    display: flex;
    align-items: center;
    gap: 20px;
}

.greeting-text{
    display: block;
    text-align:left;
}

.avatar-group{
    display: flex;
    align-items: center;
    gap:20px
}

.left-part{
    width: 70%;
    text-align: left;
}

.searchbar{
    height: 30px;
    width: 80%;
    min-width: 300px;
    border-radius: 20px;
    border: 2px solid rgb(228, 228, 228);
    outline: none;
    padding:0 10px;
    background-color: rgb(228, 228, 228);
    font-size: 1rem;
}

.searchbar:focus{
    border: 2px solid rgb(141, 141, 141);
    outline:none;
}

.btn{
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(95, 95, 177);
    width: 100px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 30px;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn:hover{
    background-color: rgb(78, 78, 139);
}

.btn-group{
    position: relative;
    bottom: -10px;
}

header{
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0 2px 10px gray;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main{
    margin-bottom: 20px;
}

span{
    position: relative;
    bottom: -3px;
}

ul li{
    list-style: none;
    margin: 15px 0;
    text-align: left;
}


ul li a:hover{
    color: white;
    padding-left: 27px;
    border-left: 3px solid white;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    transition: color 0.3s;
    padding-left: 30px;
}

.content{
    display: grid;
}

.sidebar i{
    margin-right: 25px;
}

svg{
    fill: whitesmoke;
    width: 50px;
    position: relative;
    top: 12px;
}

.search-icon{
    font-size: 1.2rem;
    padding-left: 10px;
    color: rgb(107, 107, 107);
}

.search-icon:hover, .bell-icon:hover{
    color: rgb(77, 76, 76);
}

.bell-icon{
    color: rgb(107, 107, 107);
}


